* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
   
}

:root {
    --texttitles: 3em;
    --textsubtitles: 2.5rem;
    --texts: 1.5rem;
    --minitexts: 0.5rem;
    --black: #000;
    --white: #fff;

}



/* HEADER */
body, .list-inline > li > a, .subtitle{
  color: white !important;
}
  
.header {
    background-color:rgba(0, 0, 0, 0.6);
    box-shadow: 1px 1px 4px 0 rgba(255, 255, 255, 0.2);
    width: 100%;
    z-index: 3;
    position: fixed;
    color: var(--white);
    top: 0;
    left: 0;

  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: transparent;
  }
  
  .header li a {
    display: block;
    padding: 19px 19px;
    text-decoration: none;
    font-size: 1.2em;
    color: var(--white);
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    border-bottom: 1px solid white;
  }
  
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  
  /* menu */

  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }


  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 33px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 280px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 18px;
    }

    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  
/* MAIN  */
body{
    background-color: var(--black);
}
.title-about {
    margin: 50px;
    color: var(--white);
 }
 
 .title-about h1 {
     font-size: var(--texttitles);
 }
 
 .c-rule {
    width: 100%;
    height: 2px;
    background-color: var(--white);
}
h3{
    font-size: 2.5em;
}

.title-contact {
    margin: 50px;
}

hr {
    border: 1.5px solid #ffffff;
}

/* IMAGE AND TEXT  */

.container {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}
.row {
    align-items: center;
}

.how-section1{
    margin-top:-15%;
    padding: 10%;
    padding-bottom: 5%;
}
.how-section1 h4{

    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{

    font-size: 20px;
}
.how-section1 .row{
    margin-top: 10%;
}
.how-section1 .row .col-md-6{
 padding-right: 2em;
}
.how-img 
{
    text-align: center;
}




/* STAFF  */

  
  .team3 .font-weight-medium {
    font-weight: 500;
  }
  
  .team3 .bg-light {
    background-color: #f4f8fa !important;
  }
  
  .team3 .subtitle {
    color: #8d97ad;
    line-height: 24px;
    font-size: 13px;
  }
  
  .team3 ul {
    margin-top: 30px;
  }
  
  .team3 h5 {
    line-height: 22px;
    font-size: 18px;
  }
  
  .team3 ul li a {
    color: #8d97ad;
    padding-right: 15px;
    -webkit-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
  }
  
  .team3 ul li a:hover {
    -webkit-transform: translate3d(0px, -5px, 0px);
    transform: translate3d(0px, -5px, 0px);
      color: #316ce8;
  }
  
  .team3 .title {
    margin: 30px 0 0 0;
  }
  
  .team3 .subtitle {
    margin: 0 0 20px 0;
    font-size: 13px;
  }


  li > a{
    color:var(--white);
}

/* FOOTER  */
footer {
    font-size: 2em;
    background-color: var(--white);
    color: var(--black);
    width: 100%;
}

footer>div:last-child {
    width: 100%;
    padding: 0 !important;
}


.footernav {
    flex-direction: column;
}


#footerresp > div > p > a{
    font-size: 1em !important;
}

.footnav1 > p{
  margin-right: 1em;
}
.footnav2 > p{
  margin-left: 1em;
}


.info {
    font-size: 0.4em;
    flex-direction: column !important;

    
}

.info > div > div:first-child >p {
  min-width: 22em;
}
#terms {
  flex-wrap: nowrap;
}

#terms > div > p {
    font-size: 0.7em;
}

.footer > .container{
margin: 0;
  
}

#footerimg > img{
    width: 100%;
}




/* MEDIA QUERIES  */

@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
}
};

@media (max-width: 750px){

    .footer {
    justify-content: space-around;
}
}