* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

:root {
    --texttitles: 3em;
    --textsubtitles: 2.5rem;
    --texts: 1.5rem;
    --minitexts: 0.5rem;
    --black: #000;
    --white: #fff;

}

header {
    background-image: url('https://i.pinimg.com/564x/e4/3c/5b/e43c5b82bd977e6446b86cf7cb9d4152.jpg');
    background-size: cover;
    background-position: center;
}

.navbar {
    background-color: transparent !important;
    margin-left: 1%;
    margin-right: 1%;
}

.navbar.brand, .navbar-nav > a {
    color: var(--white);
}

.navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
    justify-content: flex-end;
    font-size: var(--texts);
 
}
.container-fluid > a {
    color: var(--white);
}
.navbar-brand {
    font-size: var(--textsubtitles);
    font-weight: 500;
    
}

.container-fluid {
    --bs-gutter-x: 0rem;
}

footer {
    background-color: var(--black);
    color: var(--white);
    font-size: 2em;
    
}

footer > div:last-child{
    width: 100%;
    padding: 0 !important;
}

.info {
    font-size: 0.4em;
}