* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

:root {
    --texttitles: 3em;
    --textsubtitles: 2.5rem;
    --texts: 1.5rem;
    --minitexts: 0.5rem;
    --black: #000;
    --white: #fff;

}

.navbar {
    background-color: #fff !important;
}

.navbar-brand,
.navbar-nav a {
    color: #000; /* Texto negro */
}

.navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
    justify-content: flex-end;
    font-size: var(--texts);
}

.navbar-brand {
    font-size: var(--textsubtitles);
    font-weight: 500;
}

hr {
    border: 1.5px solid black;
}

.title-contact {
   margin: 50px;
}

.title-contact h1 {
    font-size: var(--texttitles);
}

.text {
    margin: 50px;
}

form {
    margin: 50px;
    margin-bottom: 90px;
}


.btn-primary {
    --bs-btn-color: white;
    --bs-btn-bg: black;
    --bs-btn-border-color: white;
    --bs-btn-hover-color: black;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: black;
}

.form-control {
    border-radius: 2rem !important;
    border: 1.5px solid #000;
}

#exampleInputPassword1 {
    height: 150px;
    margin-bottom: 3%;
}

footer {
    background-color: var(--black);
    color: var(--white);
    font-size: 3em;
    
}

footer > div:last-child{
    font-size: 600%;
}

.info {
    font-size: 0.31em;
}