* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

:root {
    --texttitles: 3em;
    --textsubtitles: 2.5rem;
    --texts: 1.5rem;
    --minitexts: 0.5rem;
    --black: #000;
    --white: #fff;

}

/* HEADER  */
#header {
    background-image: url(img\Barbados_beach.jpg);
}

.navbar {
    background-color: transparent !important;
    padding: 1em;
}

.navbar.brand,
.navbar-nav>a {
    color: var(--black);
}

.navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
    justify-content: flex-end;
    font-size: var(--texts);

}

.container-fluid>a {
    color: var(--black);
}

.navbar-brand {
    font-size: var(--textsubtitles);
    font-weight: 500;

}

span,
.navbar-toggler,
.navbar-toggler-icon {
    border-color: var(--black) !important;
    color: black !important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand:hover {
    color: var(--black);
}


.navbar-nav>.nav-link:hover {
    display: inline-block;
    position: relative;
    color: black;
}

.navbar-nav>.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.navbar-nav>.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.container-fluid {
    --bs-gutter-x: 0rem;
    
}

.navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
    justify-content: flex-end;
    font-size: var(--texts);
}

.navbar-brand {
    font-size: var(--textsubtitles);
    font-weight: 500;
}
